/home/hep/tlt26/RW_Snakemake/NEUT_file/T2KND_FHC_numu_H2O_NEUT562_1M_0000_NUISFLAT.root
/home/hep/tlt26/RW_Snakemake/GENIE_file/T2KND_FHC_numu_H2O_GENIEv3_G18_10b_00_000_1M_0000_NUISFLAT.root
/home/hep/tlt26/RW_Snakemake/saved_figures/snakemake_test
/home/hep/tlt26/RW_Snakemake/saved_models/snakemake_test
/home/hep/tlt26/RW_Snakemake/saved_samples/snakemake_test
/home/hep/tlt26/RW_Snakemake/saved_swd_distribution/snakemake_test
/home/hep/tlt26/RW_Snakemake/saved_weights/snakemake_test