.snakemake
GENIE_file/T2KND_FHC_numu_H2O_GENIEv3_G18_10b_00_000_1M_0000_NUISFLAT.root
NEUT_file/T2KND_FHC_numu_H2O_NEUT562_1M_0000_NUISFLAT.root
set_hyperparameters/potato_test
.venv/
testing/
TensorBoard/
saved_swd_distribution/
saved_samples/
saved_models/
saved_weights/
set_hyperparameters/
TensorBoard/
saved_figures/
Saved_evaluation/
live_figures.pdf
live_metrics.py
testing.ipynb
.snakemake/
batch/
__pycache__
